<?xml version="1.0"?>
<!--
/**
 * Selectbiz_Payoh extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Selectbiz
 * @package        Selectbiz_Payoh
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
 -->
<config>
    <modules>
        <Selectbiz_Payoh>
            <version>1.2.0</version>
        </Selectbiz_Payoh>
    </modules>
    <global>
        <resources>
            <selectbiz_payoh_setup>
                <setup>
                    <module>Selectbiz_Payoh</module>
                    <class>Selectbiz_Payoh_Model_Resource_Setup</class>
                </setup>
            </selectbiz_payoh_setup>
        </resources>
        <blocks>
            <selectbiz_payoh>
                <class>Selectbiz_Payoh_Block</class>
            </selectbiz_payoh>
        </blocks>
        <helpers>
            <selectbiz_payoh>
                <class>Selectbiz_Payoh_Helper</class>
            </selectbiz_payoh>
        </helpers>
        <models>
            <selectbiz_payoh>
                <class>Selectbiz_Payoh_Model</class>
                <resourceModel>selectbiz_payoh_resource</resourceModel>
            </selectbiz_payoh>
            <selectbiz_payoh_resource>
                <class>Selectbiz_Payoh_Model_Resource</class>
                <entities>
                    <wallet>
                        <table>selectbiz_payoh_wallet</table>
                    </wallet>
                    <iban>
                        <table>selectbiz_payoh_iban</table>
                    </iban>
                    <moneyout>
                        <table>selectbiz_payoh_moneyout</table>
                    </moneyout>
                </entities>
            </selectbiz_payoh_resource>
        </models>
    </global>
    <frontend>
		<secure_url>
            <selectbiz_payoh>/payoh/payment</selectbiz_payoh>
        </secure_url>
        <routers>
            <selectbiz_payoh>
                <use>standard</use>
                <args>
                    <module>Selectbiz_Payoh</module>
                    <frontName>payoh</frontName>
                </args>
            </selectbiz_payoh>
        </routers>
		<translate>
            <modules>
                <Selectbiz_Payoh>
                    <files>
                        <default>Selectbiz_Payoh.csv</default>
                    </files>
                </Selectbiz_Payoh>
            </modules>
        </translate>
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <selectbiz_payoh>
                    <file>selectbiz_payoh.xml</file>
                </selectbiz_payoh>
            </updates>
        </layout>
        <translate>
            <modules>
                <Selectbiz_Payoh>
                    <files>
                        <default>Selectbiz_Payoh.csv</default>
                    </files>
                </Selectbiz_Payoh>
            </modules>
        </translate>
        <global_search>
            <wallet>
                <class>selectbiz_payoh/adminhtml_search_wallet</class>
                <acl>selectbiz_payoh</acl>
            </wallet>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Selectbiz_Payoh before="Mage_Adminhtml">Selectbiz_Payoh_Adminhtml</Selectbiz_Payoh>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
		<jobs>
			<clean_orders_lw_in_pending>
				<schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
				<run><model>selectbiz_payoh/observer::cancelOrdersInPending</model></run>
			</clean_orders_lw_in_pending>
		</jobs>
	</crontab>
    <default>
		<selectbiz_payoh>
			<payoh_api>
				<api_pass backend_model="adminhtml/system_config_backend_encrypted"/>
				<directkit_url></directkit_url>
				<webkit_url></webkit_url>
				<directkit_url_test></directkit_url_test>
				<webkit_url_test></webkit_url_test>
				<is_test_mode>0</is_test_mode>
			</payoh_api>
		</selectbiz_payoh>
		<payment>
			<payoh_webkit>
				<active>0</active>
				<title>Payoh payment</title>
				<order_status>pending</order_status>
				<order_status_success>processing</order_status_success>
				<allow_oneclic>0</allow_oneclic>
				<css_url>https://www.lemonway.fr/mercanet_lw.css</css_url>
				<cancel_pending_order>0</cancel_pending_order>
				<payment_action>initialize</payment_action>
				<allowspecific>0</allowspecific>
				<debug>0</debug>
				<model>selectbiz_payoh/method_webkit</model>
				<return_url>payoh/payment/return</return_url>
				<cancel_url>payoh/payment/cancel</cancel_url>
				<error_url>payoh/payment/error</error_url>
			</payoh_webkit>
		</payment>
	</default>
</config>
